@import url('https://fonts.googleapis.com/css?family=Lato');
.plane 
{
  margin: 20px 30px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: white;
  box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
}
.cockpit 
{
  height: 90px; 
  position: relative;
  overflow: hidden;
  text-align: center;
}
h1 
{
    margin-top: 30px ;
}
.plane input[type="button"]
{
  border-radius: 4px;
  border: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #a3861e;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 42px;
  width: 10%;
  font-size: medium;
}
.plane input[type="button"]:hover{
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.exit {
  position: relative;
  height: 30px;
  text-align: center;
}

.fuselage 
{
border-top:5px solid #6e5a11;
border-right:5px solid #6e5a11;
border-left:5px solid #6e5a11;
border-bottom: 5px solid #6e5a11;
}

ol 
{
  list-style :none;
  padding: 0;
  margin: 10px;
}
.seats 
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;  
}
.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;  
  &:nth-child(3) {
    margin-right: 14.28571428571429%;
  }
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  input[type=checkbox]:checked {
    + label {
      background: #bada55;      
      -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }
  input[type=checkbox]:disabled {
    + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
  
