    @import url('https://fonts.googleapis.com/css?family=Lato');
    @import url('https://fonts.googleapis.com/css?family=Lobster');

    * {
        margin: 10px;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
    }
    /* Header Styling */
    #home-section-2,
    #home-section-3 {
        margin: 75px 10px;
    }
    /* Booking Panel */

    .booking-panel {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 3fr;
        background-color: #FFF;
        padding: 35px;
        box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
        transition: all 0.7s ease;
        width: 90%;
        margin: 20px auto;
    }
    .booking-panel-section2>i {
        background-color: #b6b6b6;
        color: #fff;
        padding: 15px;
        float: right;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .booking-panel-section2>i:hover {
        color: rgb(139, 139, 139);
    }

    .booking-panel-section3>.movie-box {
        border-radius: 10px;
        overflow: hidden;
        margin: 0;
    }

    .booking-panel-section3 img {
        max-width: 100%;
    }
    .booking-panel-section4 {
        border-radius: 10px;
        border: 1px #6e5a11 solid;
        background-color: #FFF;
    }

    .booking-panel-section4>.title {
        border-bottom: #969696 1px solid;
        color: #6e5a11;
        padding: 0 0 15px 0;
        margin: 0 0 15px 0;
        font-size: 24pt;
        padding: 35px 35px 20px 35px;
        font-weight: bold;
    }

    .movie-information>table {
        padding: 0 35px 0 35px;
    }

    .movie-information td {
        padding: 8px 25px 8px 0;
        text-align: left;
        color: #969696;
    }

    .movie-information table tr td:first-child {
        color: #585858;
        font-weight: bold;
    }

    .booking-form-container {
        background-color: #6e5a11;
        width: 100%;
        padding: 25px;
        margin: 20px 0;
    }

    .booking-form-container form {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }

    .booking-form-container form input[type="button"] {
        border-radius: 4px;
        border: none;
        padding: 5px;
        margin-top: 15px;
        float: right;
        width: 25%;
        text-align: center;
        background-color: white;
        color: black;
        border-color: #a3861e;
        transition: all 0.7s ease;
        cursor: pointer;
        font-weight: bold;
        height: 42px;
        font-size: medium;
    }

    .booking-form-container form input[type="button"]:hover {
        background-color: #a3861e;
        color: white;
    }

    .booking-form-container form select {
        padding: 10px;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        background: #fff url('#') no-repeat calc(100% - 10px) 50%;
        /* custom arrow set as a background */
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgMTUgOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+ICA8cGF0aCBmaWxsPSIjODk4OTg5IMKgIiBkPSJNMS4wMywwLjE3NWMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMGMtMC4yMzUsMC4yMzItMC4yMzYsMC42MSwwLDAuODQybDYuODk3LDYuODA5ICAgIGMwLjIzNiwwLjIzMywwLjYxOCwwLjIzMywwLjg1NCwwbDYuODk3LTYuODA5YzAuMjM2LTAuMjMzLDAuMjM2LTAuNjEsMC0wLjg0MmMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMEw3LjUsNi4zODQgICAgTDEuMDMsMC4xNzV6Ii8+ICA8L3N2Zz4=);
        box-sizing: border-box;
        border: solid 2px #cbcbcb;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #606060;
        text-indent: 0.01px;
        text-overflow: '';
        width: 23%;
        height: 42px;
        margin: 5px 0;
    }

    .booking-form-container form input {
        border-radius: 4px;
        border: 1px solid #6e6e6e;
        padding: 10px;
        width: 31%;
        height: 42px;
        margin: 5px 0;
    }

    /* Responsive Properties */

    @media all and (max-width:30em) {
        a.movie-book-btn {
            display: block;
            margin: 0.4em auto;
        }
    }

    /* Classes for JS */

    .hidden-div {
        display: none;
        transition: all 0.7s ease;
    }

    .show {
        display: block;
        transition: all 0.7s ease;
    }